
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0px;
  /* margin-left: 10%; */
}

.icon {
  font-size: 25pt;
  color: black;
}

.section_header {
  background-color: azure;
  color: black;
  padding-inline: 10%;
  padding-block: 5%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 20px;
  border-bottom: solid 7px black;
}

.section_header h3 {
  margin-top: -5px;
}

.job_application {
  border-radius: 10px;
  background-color: azure;
  color: black;
  padding-inline: 20px;
  padding-bottom: 3px;
  margin-top: 15px;
  border: solid 1px black;
}

.job_category_dashboard {
  border: solid 3px black;
  border-radius: 10px;
  background-color: black;
  /* padding-bottom: -20px; */
}

.dropdown {
  display: block;
  background-color: azure;
  /* border: solid 1px black; */
}

.company_title {
  margin-block: 0px;
  padding-block: 0px;
}

.company_title2 {
  margin-left: 5px;
}

.job_title {
  margin-block: 0px;
  padding-block: 0px;
  justify-content: center;
}

.login {
  width: 50%;
  margin: 10% auto;
}

.login button {
  /* margin-left: 45%; */
  margin-bottom: 20px;
  margin-top: 20px;
}

.signup {
  width: 50%;
  margin: 10% auto;
}

.signup button {
  /* margin-left: 45%; */
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: rgba(0, 212, 255, 1)
}
