@tailwind base;
@tailwind components;
@tailwind utilities;




.HolyGrail {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.card {
  background-color: white;
}


.HolyGrail-body {
  display: flex;
  flex: 1;
}

.HolyGrail-content {
  flex: 1;
}


.HolyGrail-ads {

  flex: 0 0 18em;
}


.HolyGrail-nav {
  /* put the nav on the left */
  flex: 0 0 22em;
  order: -1;
}
