@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  text-transform: unset !important;
  box-shadow: none !important;
}



.HolyGrail {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.card {
  background-color: white;
  box-shadow: none;
}


.HolyGrail-body {
  display: flex;
  flex: 1;

}

.HolyGrail-content {
  flex: 1;
}

.comment {
  margin-top: 1em;
}

ul.dropdown-menu {
  position: absolute;
  transform: translate(-135px, 45px);
}

.HolyGrail-ads {
  flex: 0 0 20em;
  text-decoration: none !important;
}


.HolyGrail-nav {
  /* put the nav on the left */
  flex: 0 0 18em;
  order: -1;
}
